.mainFooter {
  color: #f4f4f4;
  background-color: #222222;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1rem;
}

.title {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

.phone {
  font-size: 20px;
  margin-left: 1rem;
}

.instagram {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.instagram svg {
  margin-right: 8px;
}

.info {
  display: block;
  font-size: 1rem;
  margin: 4px 0;
  margin-left: 1rem;
}

@media (max-width: 1040px) {
  .mainFooter {
    flex-direction: column;
    gap: 3rem;
  }
}

.copyright {
  background-color: #f4f4f4;
  color: #000;
  padding-bottom: 2px;
  text-align: center;
}

.copyright a {
  text-decoration: underline;
}
