.nav {
  height: 130px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  margin: 0 auto 0 2rem;
  height: 100%;
  display: inline-block;
}

.link {
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
  margin-bottom: 1.5rem;
  margin: 0 1rem 1.5rem 1rem;
}

.languageSelector {
  font-size: 15px;
  font-weight: 700;
  min-width: 182px !important;
  margin: 6px 6px 0 auto;
}

.icons {
  margin: 0 6px;
  cursor: pointer;
}

/* Mobile */

.burguerButton {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  padding: 4px 6px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
}

.mobileNav {
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

.mobileNav h1 {
  display: inline-block;
  margin: 2rem 0 0 0;
  font-weight: 800;
  font-size: 24px;
}

.mobileItem {
  font-size: 22px;
  font-weight: 700;
  margin: 1rem 0 0 0;
}

.mobileLanguageSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #999;
  width: 100%;
  margin-top: 1.5rem;
}

.mobileLanguageSelector h2 {
  font-size: 24px;
}

.mobileLink {
  font-size: 22px;
  margin: 1rem 0 0 0;
  font-weight: 600;
}

.mobileIcons {
  margin-right: 4px;
}

.closeIcon {
  position: fixed;
  right: 1rem;
  top: 1rem;
  border: none;
  background: transparent;
  padding: 1rem;
}

/* Loader */

.loader {
  width: 100%;
  height: 100vh;
  background: #000;
  display: grid;
  place-items: center;
}

@media (max-width: 1040px) {
  .nav {
    display: none;
  }
}

@media (min-width: 1040px) {
  .burguerButton {
    display: none;
  }
  .mobileNav {
    display: none;
  }
}
