.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  width: 80%;
  background-color: #efefef;
  box-shadow: 17px 17px 0px #81b017;
  padding: 1rem 1rem 1rem 3rem;
  margin: 2rem;
  align-items: center;
  justify-content: space-between;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
  padding: 1rem 3rem 1rem 1rem;
}

.card:nth-child(even) .textContainer {
  margin-right: auto;
  margin-left: 3rem;
}

.title {
  color: #222222;
  font-size: 36px;
}

.description {
  white-space: pre-wrap;
  font-size: 18px;
  margin-left: 1rem;
}

.carousel {
  width: 500px !important;
}

.imageContainer {
  width: 500px;
  height: 290px;
  overflow: hidden;
}

.copyLinkIcon {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media (max-width: 1420px) {
  .card {
    flex-direction: column-reverse;
    align-items: center;
  }
}
